html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(36, 36, 122);
    padding:0;

    
}



header {
    max-height:100%;

    margin:auto;
}

.menu {
   background-color:rgb(36, 36, 122);
    margin:auto;
    color:white;
    width: 80%;
    border-radius: 4px;
    padding:10px;
    height: 100%;
    
    }


.menu li {
    list-style: none;
    display:inline;
    padding:10px;
    margin:10px;
   

    
}

.btn-top {
    visibility: hidden;
    position:fixed;
    top:50px;
    right:0px;
    width:40px;
    height:40px;
    margin:30px;
}

.btn-down {
    visibility:hidden;
    position:fixed;
    bottom:50px;
    right:0px;
    width:40px;
    height:40px;
    margin:30px;
}
.menu li:hover{
    list-style: none;
    display:inline;
    padding:10px;
    margin:10px;
    color:gray;

    
}




.btnA {
    position:absolute;
    margin-top:125px;
    color:white;
    background-color:black;
    border:none;
    font-weight:bold;
    width:40px;
    height:30px;
}
.btnP {
    position:absolute;
    margin-top:125px;
    right:8px;
    color:white;
    background-color:black;
    border:none;
    font-weight:bold;
    width:40px;
    height:30px;
}

@media all and (min-width:700px) {
    .close {
        right:10px;
        position:absolute;
        visibility:hidden;

    }

   

    .open {
        visibility:hidden;
    }
   
}


@media all and (max-width:700px) {
    .menu li {
        list-style: none;
        display:block;
        padding:10px;
        margin:10px;
        text-align: center;
    
        
    }


    .menu li:hover{
        list-style: none;
        display:block;
        padding:10px;
        margin:10px;
        color:gray;
        text-align: center;
    
        
    }
    .close {
        right:10px;
        position:absolute;
        visibility: hidden;
        

    }

    .menu-in {
        display: none;
        height:100%;
    }


}

a {
    color:white;
    text-decoration: none;
}

.slideShow {
   height:420px;
    width:80%;
    display: flex;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 8px;
    margin-left:0px;
   

}

.slideShow div img {
    min-height:310px;
    min-width:40%;
    max-width:500px;
    max-height: 100%;
}
.slideShow div {
    width: 80%;
    height:100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    
    
    
    
}

.slideShow input[type=button] {
    background-color: black;
    width:60px;
    height:20px;
    position:absolute;
    color:white;
    font-weight: bold;
    border: none;
    top: 10px;
}

.prox {
    right: 0px;
}


.redonda {
    border-radius:1%;
   
}
.footer {
    
    background-color: black;
    color:white;
    width:90%;
    height:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(153, 10, 10);
    margin: auto;
    border-radius: 8px;
    padding:5%;

}

.slideShow div p {
    color: black;
}

.copy {
    position: absolute;

    background-color: grey;
}

.emp {
    color:white
}

label {
    color:white;
}

input[type=text],[type=email],[type=number] {
    width:80%;
    height:30px;
    border-radius: 4px;
    border:none;
}

input[type=submit] {
    width:40%;
    background-color: white;
    border:none;
    height:30px;
    border-radius:4px;
}

input[type=submit]:hover {
    width:40%;
    background-color:rgb(153, 10, 10);
    border:none;
    color:white;
    border-radius:4px;
}
textarea {
width:80%;
height:70px;
}

form {
    margin:10%;
}

.embalagem img {
    border-radius: 8px;
}

.wpp {
    
 
    
    
}



.wpp:hover {
color:#01e675;
}



.faleConosco {
    position: fixed;
    right: 30px;
    top:45%;
    visibility: hidden;
}

.servicos li {
    padding: 10px;
}

.economico li {
    padding: 10px;
}

.mudanças {
    width:70%;
    height:30%;
    margin:auto;
    
    
}

.mudanças div {
    
    background-color: rgb(153, 10, 10);
    padding:10px;
    color: white;
    border-radius: 8px;
}

.servicos li {
    list-style: none;
}

.servicos-in li {
    padding:1%;
}

.servicos-in2 li {
    padding:1%;
}

.servicos-in3 li {
    padding:1%;
}

.btn-down-services {
    position: absolute;
    right:15%;
    width:1%;
    height: 1%;
}

.btn-top-services {
    position: absolute;
    right:15%;
    display: none;
}

.servicos-in {
    display: none;
  
}

.btn-serv-down {
   
    right:18%;
    position:absolute;
}
.btn-serv-top {
   display:none;
    right:18%;
    position:absolute;
}



.btn-down-services2 {
    position: absolute;
    right:15%;
    width:1%;
    height: 1%;
}

.btn-top-services2 {
    position: absolute;
    right:15%;
    display: none;
}

.servicos-in2 {
    display: none;
}

.btn-serv-down2 {
   
    right:18%;
    position:absolute;
}
.btn-serv-top2 {
   display:none;
    right:18%;
    position:absolute;
}


.btn-down-services3 {
    position: absolute;
    right:15%;
    width:1%;
    height: 1%;
}

.btn-top-services3 {
    position: absolute;
    right:15%;
    display: none;
}

.servicos-in3 {
    display: none;
}

.btn-serv-down3 {
   
    right:18%;
    position:absolute;
}
.btn-serv-top3 {
   display:none;
    right:18%;
    position:absolute;
}




.pensou {
    width: 80%;
    padding:20px;
    color:white;
    margin: auto;
}

.txt-pensou {
    left:20%;
    position:relative;
    font-size:5vw;
    transition: 2s;
}

h1 {
    font-size:24px;
}

#res {
    position: fixed;
}

.contato {
    width:80%;
    margin:20px;
}

.embalagem {
    width: 80%;
    margin: auto;
    
}

.embalagem h1 {
    font-size:24px;
}

.contato h1 {
    font-size:5vw;
    margin: auto;
    width:80%;
}

.anuncio-form {
    width:80%;
   margin: auto;
    padding:2%;
}

.anuncio-wpp {
    width:80%;
   margin: auto;
    padding:2%;
 
}

.anuncio-wpp h1 {
    font-size: 4vw;
}

.empresa {
  color:white;
    padding:5px;
    width: 80%;
    margin: auto;
}


.empresa h3 {
    max-width:600px;
}

.footer table td {
    width:300px;
}

.footer p {
    margin: 4%;
    font-size:100%;
}

.rec {
    width: 70%;
    margin: auto;
    color:white;
    padding:0px 30%;

}

.rec h3 {
    width:60%;
}

.rec img {
    max-width:300px;
}